
<div class="container-fluid ">
    <div class="page_box p-3 mt-2" style="color: aliceblue;">

      Examiners</div>
    <div class="page_content shadow p-3 position-relative">
        <div class="page_content-data position-absolute">
  </div>
  <button mat-raised-button class="btn m-1 p-2" style="background: linear-gradient(to right, rgb(16, 24, 82), #797e86); color: white;" (click)="open(content)"><mat-icon>add_circle_outline</mat-icon> Add Examiner</button>
   <table class="table table-bordered">
      <thead>
      <tr>
       
        
        <th scope="col"> CFMS ID</th>
        <th scope="col"> Examiner Name</th>
        <th scope="col"> Mobile</th>
        <th scope="col"> Email</th> 
        <th scope="col"> Examiner Type</th>
        <th scope="col"> Institute Name</th>
        <th scope="col"> Branch Name</th>
        <th scope="col">Edit</th>
       
      </tr>
      </thead>
      <tbody>
      <tr *ngFor = "let us of readData |
        paginate: { 
          itemsPerPage: 5, 
          currentPage:page,
          totalItems:totalLength
                        }">
          <th scope="row">{{us}}</th>
          <td>{{us}}</td>
        
        
        <td>
          <mat-icon color="primary" (click)="open(content)" (click)="OnEdit(us,form)" >edit</mat-icon>
         
          </td>
        
      </tr>
      
      </tbody>
      
    </table>
    <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>

    <div fxLayoutAlign="center center" fxFlexFill>

      <ng-template class="modal" #content let-modal style="background-color: rgba(196, 200, 167, 0.5);">
        
        <div class="modal-header" style="padding: 0px;">
          <mat-toolbar class="btn" style="background: linear-gradient(to right, rgb(16, 24, 82), #797e86); color: white;">
          <h2 class="modal-title" id="modal-basic-title">Add Examiners</h2>
          <button  type="button" class=" btn btn-close " aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </mat-toolbar>
        </div>
        <div class="modal-body" style="background-color: rgba(48, 102, 169, 0.171);" >
          <mat-card fxFlex="100" >
          
        
            <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="form" >
              
            
            <div appearance="fill" class="full-width mt-3">
              <div style="margin-right:3%; color:#6b6b6b;">
                <mat-label>Examiner Type</mat-label>
            </div>
              <select style="width: 100%; height: 30px;" required formControlName="id" >
                <option [value]="0">--select Type--</option>
              </select>
              <!-- <mat-hint>Examiner Type required</mat-hint> -->
            </div>

            <div appearance="fill" class="full-width mt-3">
                <div style="margin-right:3%; color:#6b6b6b;">
                  <mat-label>Institute</mat-label>
              </div>
                <select style="width: 100%; height: 30px;" required formControlName="id" >
                  <option [value]="0">--select institute--</option>
                </select>
                <!-- <mat-hint>Examiner Type required</mat-hint> -->
              </div>
              <div appearance="fill" class="full-width mt-3">
                <div style="margin-right:3%; color:#6b6b6b;">
                  <mat-label>Branch/Subject</mat-label>
              </div>
                <select style="width: 100%; height: 30px;" required formControlName="id" >
                  <option [value]="0">--select Branch--</option>
                </select>
                <!-- <mat-hint>Examiner Type required</mat-hint> -->
              </div>
              <mat-form-field appearance="fill"  class="full-width mt-3">
                <mat-label>CFMS ID</mat-label>
                <input matInput placeholder="Enter CFMS ID" required formControlName="name" >
                <mat-error>CFMS ID is required</mat-error>
                
            </mat-form-field>'
              <mat-form-field appearance="fill"  class="full-width">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Enter Examiner name" required formControlName="name" >
                <mat-error>Examiner Name is required</mat-error>
                
            </mat-form-field>' 
             <mat-form-field appearance="fill" class="full-width " >
                <mat-label>Email Address</mat-label>
                <input matInput type="email" placeholder="Your email" required>   
              </mat-form-field>'
            <mat-form-field appearance="fill"  class="full-width">
                <mat-label>Mobile Number</mat-label>
                <input matInput placeholder="Enter Mobile Number" required #nameInput>
                <mat-error>Mobile Number is required</mat-error>
                
            </mat-form-field>
                               
        </form>
      </mat-card>
        </div>
      
        <div class="modal-footer">
          <button *ngIf="!getparamid" (click)="saveDetails(form)"  (click)="modal.close('Save click')"  class=" btn-group btn " style="background: linear-gradient(to right, rgb(16, 24, 82), #797e86); color: white;" [disabled]="!form.valid">create</button>
      <button *ngIf="getparamid"   (click)="modal.close('Save click')"  class="btn-group btn " style="background: linear-gradient(to right, rgb(16, 24, 82), #797e86); color: white;" >Update</button>
          <button type="submit" class="btn btn-danger"  (click)="modal.close('Save click')">Cancel</button>
        </div>
        
      </ng-template>
      
      </div> 
    
  </div>
</div>
