<!-- <div class="modal-header"> -->
    <!-- <mat-toolbar class="btn btn-danger" style="display: flex;justify-content: center;">
            <mat-icon>warning</mat-icon>
    <p class="modal-title m-1 p-1" style="color: white;">  Error!</p>
     -->
    <!-- <button  type="button" class=" btn btn-close "  (click)="closePopup()">
      <span aria-hidden="true">&times;</span>
    </button> -->
<!-- </mat-toolbar> -->
  <!-- </div> -->
  <div class="modal-body">
    <p  class="alert alert-danger">{{message}}</p>
</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="closePopup()">Retry</button>
  </div>
  